@model Storeroom_zjo.Models.Vehicles_tbl

@{
    ViewBag.Title = "Usuwanie";
}

<h2>Usuń pojazd</h2>

<h3>Czy napewno chcesz usunąć ten pojazd?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Marka
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleBrand)
        </dd>

        <dt>
            Model
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            Typ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType)
        </dd>

        <dt>
            Numer VIN
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VINnumber)
        </dd>

        <dt>
            Numer REJESTRACYJNY
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REGnumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger" /> |
            @Html.ActionLink("Powrót do listy pojazdów", "Index", null, new { @class = "btn btn-primary" } )
        </div>
    }
</div>
