@model Storeroom_zjo.Models.Vehicles_tbl

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły pojazdu</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Marka
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleBrand)
        </dd>

        <dt>
            Model
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            Typ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType)
        </dd>

        <dt>
            Numer VIN
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VINnumber)
        </dd>

        <dt>
            Numer REJESTRACYJNY
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REGnumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.IdVehicle }, new { @class = "btn btn-warning" } ) |
    @Html.ActionLink("Powrót do listy pojazdów", "Index", null, new { @class = "btn btn-primary" } )
</p>
