@model IEnumerable<Storeroom_zjo.Models.Vehicles_tbl>

@{
    ViewBag.Title = "Pojazdy";
}

<h2>Lista pojazdów</h2>

<p>
    @Html.ActionLink("Dodaj pojazd", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Marka
        </th>
        <th>
            Model
        </th>
        <th>
            Typ
        </th>
        <th>
            Numer VIN
        </th>
        <th>
            Numer REJESTRACYJNY
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleBrand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VINnumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REGnumber)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.IdVehicle }, new { @class = "btn btn-warning" } ) |
            @Html.ActionLink("Sczegóły", "Details", new { id=item.IdVehicle }, new { @class = "btn btn-primary" } ) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.IdVehicle }, new { @class = "btn btn-danger" } )
        </td>
    </tr>
}

</table>
