@model Storeroom_zjo.Models.Repairs_tbl

@{
    ViewBag.Title = "Usuwanie";
}

<h2>Usuń</h2>

<h3>Czy na pewno chcesz usunąć tą naprawę?</h3>
<div>
    <h4>Naprawa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="width:200px;">
            Data rejestracji
        </dt>
        <dd style="padding-left:30px;">
            @Html.DisplayFor(model => model.DateOfCarReception)
        </dd>

        <dt style="width:200px;">
            Data rozpoczęcia naprawy
        </dt>
        <dd style="padding-left:30px;">
            @Html.DisplayFor(model => model.RepairStartDate)
        </dd>

        <dt style="width:200px;">
            Stanowisko
        </dt>
        <dd style="padding-left:30px;">
            @Html.DisplayFor(model => model.Station)
        </dd>

        <dt style="width:200px;">
            Data zakończenia naprawy
        </dt>
        <dd style="padding-left:30px;">
            @Html.DisplayFor(model => model.RepairEndDate)
        </dd>

        <dt style="width:200px;">
            Ilość części
        </dt>
        <dd style="padding-left:30px;">
            @Html.DisplayFor(model => model.QuantityOfParts)
        </dd>

        <dt style="width:200px;">
            Komentarz
        </dt>
        <dd style="padding-left:30px;">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt style="width:200px;">
            Koszt naprawy
        </dt>
        <dd style="padding-left:30px;">
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt style="width:200px;">
            Rabat
        </dt>
        <dd style="padding-left:30px;">
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt style="width:200px;">
            Klient
        </dt>
        <dd style="padding-left:30px;">
            @Html.DisplayFor(model => model.Customers_tbl.Name)
        </dd>

        <dt style="width:200px;">
            Nazwa części
        </dt>
        <dd style="padding-left:30px;">
            @Html.DisplayFor(model => model.Parts_tbl.PartName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger" /> |
            @Html.ActionLink("powrót do listy napraw", "Index", null, new { @class = "btn btn-primary" } )
        </div>
    }
</div>
