@model Storeroom_zjo.Models.Repairs_tbl

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Naprawy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="width:200px;">
            Data przyjęcia
        </dt>
        <dd style="padding-left:30px;">
            @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.DateOfCarReception))
        </dd>

        <dt style="width:200px;">
            Data rozpoczęcia naprawy
        </dt>
        <dd style="padding-left:30px;">
            @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.RepairStartDate))
        </dd>

        <dt style="width:200px;">
            Stanowisko
        </dt>
        <dd style="padding-left:30px;">
            @Html.DisplayFor(model => model.Station)
        </dd>

        <dt style="width:200px;">
            Data zakończenia naprawy
        </dt>
        <dd style="padding-left:30px;">
            @Convert.ToString(string.Format("{0:dd-MM-yyyy}", Model.RepairEndDate))
        </dd>

        <dt style="width:200px;">
            Ilość części
        </dt>
        <dd style="padding-left:30px;">
            @Html.DisplayFor(model => model.QuantityOfParts)
        </dd>

        <dt style="width:200px;">
            Komentarz
        </dt>
        <dd style="padding-left:30px;">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt style="width:200px;">
            Koszt naprawy
        </dt>
        <dd style="padding-left:30px;">
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt style="width:200px;">
            Rabat
        </dt>
        <dd style="padding-left:30px;">
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt style="width:200px;">
            Imie klienta
        </dt>
        <dd style="padding-left:30px;">
            @Html.DisplayFor(model => model.Customers_tbl.Name)
        </dd>

        <dt style="width:200px;">
            Nazwa części
        </dt>
        <dd style="padding-left:30px;">
            @Html.DisplayFor(model => model.Parts_tbl.PartName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.IdRepair }, new { @class = "btn btn-warning" } ) |
    @Html.ActionLink("Powrót do listy napraw", "Index", null, new { @class = "btn btn-primary" } )
</p>
