@model IEnumerable<Storeroom_zjo.Models.Repairs_tbl>

@{
    ViewBag.Title = "Naprawy";
}

<h2>Lista napraw</h2>

<p>
    @Html.ActionLink("Nowa naprawa", "Create", null, new { @class = "btn btn-primary" } )
</p>
<table class="table">
    <tr>
        <th>
            Data przyjęcia
        </th>
        <th>
            Data rozpoczęcia naprawy
        </th>
        <th>
            Stanowisko
        </th>
        <th>
            Data zakończenia naprawy
        </th>
        <th>
            Ilość części
        </th>
        <th>
            komentarz
        </th>
        <th>
            Koszt
        </th>
        <th>
            Promocja
        </th>
        <th>
            Klient
        </th>
        <th>
            Część
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfCarReception)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepairStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Station)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepairEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityOfParts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customers_tbl.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parts_tbl.PartName)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.IdRepair }, new { @class = "btn btn-warning" } ) |
            @Html.ActionLink("Sczegóły", "Details", new { id=item.IdRepair }, new { @class = "btn btn-primary" } ) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.IdRepair }, new { @class = "btn btn-danger" } )
        </td>
    </tr>
}

</table>
