@model Storeroom_zjo.Models.Customers_tbl

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły klienta</h2>

<div>
    <h4>Klient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Nazwisko
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            Adres
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Kod pocztowy
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>

        <dt>
            Miasto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            Kraj
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Numer telefonu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            Marka pojazdu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicles_tbl.VehicleBrand)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.IdCustomer }, new { @class = "btn btn-warning" } ) |
    @Html.ActionLink("Powrót do listy klientów", "Index", null, new { @class = "btn btn-primary" } )
</p>