@model IEnumerable<Storeroom_zjo.Models.Customers_tbl>

@{
    ViewBag.Title = "Klienci";
}

<h2>Lista klientów</h2>

<p>
    @Html.ActionLink("Dodaj nowego klienta", "Create", null, new { @class = "btn btn-primary" } )
</p>
<table class="table">
    <tr>
        <th>
            Imie
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Adres
        </th>
        <th>
            Kod pocztowy
        </th>
        <th>
            Miasto
        </th>
        <th>
            Kraj
        </th>
        <th>
            Email
        </th>
        <th>
            Numer telefonu
        </th>
        <th>
            Marka pojazdu
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicles_tbl.VehicleBrand)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.IdCustomer }, new { @class = "btn btn-warning" } ) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.IdCustomer }, new { @class = "btn btn-primary" } ) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.IdCustomer }, new { @class = "btn btn-danger" } )
        </td>
    </tr>
}

</table>
