@model Storeroom_zjo.Models.Parts_tbl

@{
    ViewBag.Title = "Usuwanie";
}

<h2>Usuń</h2>

<h3>Czy napewno chcesz usunąc tą część?</h3>
<div>
    <h4>Część</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Część
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartName)
        </dd>

        <dt>
            Kod części
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufacturerCode)
        </dd>

        <dt>
            Część oryginalna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orginal)
        </dd>

        <dt>
            Zamiennik
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artificial)
        </dd>

        <dt>
            Ilość na magazynie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            Minimalna ilość
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimalStock)
        </dd>

        <dt>
            Autozamówienie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutomaticOrder)
        </dd>

        <dt>
            Producent
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartsManufacturers_tbl.Company)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger" /> |
            @Html.ActionLink("Powrót do listy części", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
