@model Storeroom_zjo.Models.Parts_tbl

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły części</h2>

<div>
    <h4>Część</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Część
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartName)
        </dd>

        <dt>
            Kod części
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufacturerCode)
        </dd>

        <dt>
            Część oryginalna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orginal)
        </dd>

        <dt>
            Zamiennik
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artificial)
        </dd>

        <dt>
            Ilośc na magazynie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            Minimalna ilość
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimalStock)
        </dd>

        <dt>
            Autozamówienie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutomaticOrder)
        </dd>

        <dt>
            Producent
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartsManufacturers_tbl.Company)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.IdPart }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Powrót do listy części", "Index", null, new { @class = "btn btn-primary" })
</p>
