@model IEnumerable<Storeroom_zjo.Models.Parts_tbl>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista części</h2>

<p>
    @Html.ActionLink("Dodaj część", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Kod producenta
        </th>
        <th>
            Część orginalna
        </th>
        <th>
            Zamiennik
        </th>
        <th>
            Ilość w magazynie
        </th>
        <th>
            Minimalna ilość
        </th>
        <th>
            Auto zamówienie
        </th>
        <th>
            Producent
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PartName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManufacturerCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orginal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artificial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinimalStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AutomaticOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartsManufacturers_tbl.Company)
        </td>
        <td>
            @if (item.Quantity <= item.MinimalStock && item.AutomaticOrder == false)
            {
                <div class="label-warning">Minimalna ilość w magazynie. Zamów część!</div>
            }
            else if (item.Quantity <= item.MinimalStock && item.AutomaticOrder == true)
            {
                <div class="label-success">Wysłano zamówienie części!</div>
            }
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.IdPart }, new { @class = "btn btn-warning" }) 
            @Html.ActionLink("Szczegóły", "Details", new { id=item.IdPart }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Usuń", "Delete", new { id=item.IdPart }, new { @class = "btn btn-danger" })
            @if (item.Quantity <= item.MinimalStock && item.AutomaticOrder == false)
            {
                <div class="btn btn-info">Zamów część</div>
            }
        </td>
    </tr>
}

</table>
