@model Storeroom_zjo.Models.Users_tbl

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Nazwa Użytkownika
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            Dostęp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permission)
        </dd>

        <dt>
            Stanowisko
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Positions_tbl.Position)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.IdUser }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Powrót do listy użytkowników ", "Index", null, new { @class = "btn btn-primary" })
</p>
