@model IEnumerable<Storeroom_zjo.Models.Users_tbl>

@{
    ViewBag.Title = "Index";
}

<h2>Użytkownicy</h2>



<p>
    @Html.ActionLink("Dodaj nowego użytkownika", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Nazwa Użytkownika
        </th>
        <th>
            Dostęp
        </th>
        <th>
            Stanowisko
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Permission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Positions_tbl.Position)
        </td>
        <td>
            @Html.ActionLink("Edycja", "Edit", new { id=item.IdUser }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.IdUser }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.IdUser }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
